
<form [formGroup]="accountForm">

    <label>Create at</label>
    <input type="text" formControlName="createdAt">
    <br>

    <label>Accout name:</label>
    <input type="text" formControlName="account_name">
    <br>

    <label>Available balance</label>
    <input type="text" formControlName="available_balance">
    <br>

    <label>Currency</label>
    <input type="text" formControlName="currency">
    <br>

    <label>Image</label>
    <input type="text" formControlName="user_image">
    <br>

    <label>Account Number</label>
    <input type="text" formControlName="account_number">
    <br>

    <button (click)="submit()">submit</button>

</form>






























<!-- Angular Forms:
--------------

    There are two types of forms in angular.

        1) Template Driven Forms
        2) Reactive Forms

    Template Driven Forms vs Reactive Forms:
    ----------------------------------------
    1) Template driven forms both logic and view is inside the template
       where in reactive forms it is segragated clearly that view is in template, logic is in ts files.

    2) Reactive forms provides more features like touched, dirty, valid, prestine, validations
       dynamic forms etc...


    Reactive Form concepts:
    -----------------------
    1) form
    2) nested form group
    3) form array
    4) dynamic forms
    5) form validations
     -->
























