<router-outlet></router-outlet>

<!-- Authentication Implementation:
------------------------------
1) Collect email and password through reactive forms
2) Send the data to service and do post api call.
3) If credentials are valid API returns the token, otherwise gives error.

4) If credentials are valid,
       a) store the token in browser memory ( cookies, local, session )
       b) Navigate to dashboard

5) When logout, 
       a) delete the token
       b) Navigate to login
       
How to sercure the dashboard:
-----------------------------
Need to implement the auth guard to secure the path.

1) Create guard
    ng g g auth
2) Implement guard
    canActivate(){
        if( sessionStorage.getItem('my-app-token') ){
            return true;
        }
        else{
            return false;
        }
    }
3) Apply guard
    {path:'dashboard', component: DashboardComponent, canActivate:[AuthGuard]} -->

<!-- 
Form Notification Guard:
------------------------
1) Create guard

    ng g g notify   (choose canDeactivate option)

2) Implement guard

    canDeactivate(){

        if( confirm("message") ){
            return true;
        }
        else{
            return false;
        }

    }
3) Apply guard

    { path:'create-vehicle', component: CreateVehicleComponent, canDeactivate:[NotifyGuard] } -->