<div class="parent">
    <div class="left">
        <h6 routerLink="interpolation">interpolation</h6>
        <h6 routerLink="event-binding">event binding</h6>
        <h6 routerLink="two-way-binding">two way binding</h6>
        <h6 routerLink="calculator">calculator</h6>
        <h6 routerLink="rectangle">rectangle</h6>
        <h6 routerLink="event-registration">Event Registration</h6>
        <h6 routerLink="employee-registration">Employee Registration</h6>
        <h6 routerLink="pipes">pipes</h6>
        <h6 routerLink="cars">cars</h6>
        <h6 routerLink="star">star</h6>
        <h6 routerLink="gpay">G Pay</h6>
        <h6 routerLink="bank">bank</h6>
        <h6 routerLink="mails">Mails</h6>
        <h6 routerLink="create-account">create account</h6>
        <h6 routerLink="create-user">Create user</h6>
        <button (click)="logout()">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>